body {
	position: relative;
}

#ewsod {
	width: 45px;
	height: 45px;
	border: 0px;
	border-radius: 30px;
	padding: 0px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}


.about {
	background: #421096;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #FFFFFF;
}

.locations {
	padding-top: 30px;
	padding-bottom: 30px;
}

#holly {
	font-size: 10px;
}

.photos {
	background-color: #421209;
	width: 100%;
}

.navbar {
	background-color: #d1063f;
}

.nav.navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-brand{
	color:white
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url('http://321-pnwebvarnish.newscyclecloud.com/storyimage/PN/20120806/ENTERTAINMENT/120809984/AR/0/AR-120809984.jpg');
/*	background-position: center center;
	background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	color: #ffffff;
	margin-bottom: 0px;
	max-width: 100%;
}

.white-text-shadow {
	text-shadow: 1px 1px 2px #000000;	
}

.satya-thumb {
	float: left;
	margin-right: 10px;
}

.satya-thumb img{
	height: 300px;
	border-radius: 5px;
	/*width: 0px;*/
}

.loc-thumb {
	float: right;
}

.loc-thumb img{
	border-radius: 5px;
}

.about-thumb {
	float: left;
	margin-right: 10px;
}

.about-thumb img{
	border-radius: 5px;
	width: 400px;
}

.info {
	/*display: flex;*/
	
/*align-items: center;*/
	margin-bottom: 10px;

}

h3 {
	font-family: 'Nunito', sans-serif;
}

/*.info:hover img {
	width: 200px;
} */

#fb {
	height: 30px;
	width: 30px;
	color: white;
	padding-top: 10px;
	display: flex;
}

#fb > a > i{
	color: white;
	padding-left: 5px;
	padding-right: 5px;

}
* {
	box-sizing: border-box;
}

.slideshow-container {
	max-width: 1000px;
	height: 450px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0,0.8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.trans {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}


@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}